## This notebook explores the raw e-commerce datasets provided by Olist.
### The goal is to understand table structure, key columns, and relationships before building analytics tables.

In [1]:
import os
os.getcwd()

'/Users/kushalbollempalli/Desktop/Data Analysis Project/E2E Data Analysis Project/notebooks'

In [2]:
import pandas as pd
import os

In [3]:
os.getcwd()

'/Users/kushalbollempalli/Desktop/Data Analysis Project/E2E Data Analysis Project/notebooks'

In [5]:
orders = pd.read_csv("/E2E Data Analysis Project/data/raw/olist_orders_dataset.csv")

In [6]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [10]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [12]:
order_items = pd.read_csv("/E2E Data Analysis Project/data/raw/olist_order_items_dataset.csv")
products = pd.read_csv("/E2E Data Analysis Project/data/raw/olist_products_dataset.csv")
customers = pd.read_csv("/E2E Data Analysis Project/data/raw/olist_customers_dataset.csv")
payments = pd.read_csv("/E2E Data Analysis Project/data/raw/olist_order_payments_dataset.csv")

In [13]:
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [15]:
orders["order_id"].nunique(), order_items["order_id"].nunique(), payments["order_id"].nunique()

(99441, 98666, 99440)

In [16]:
missing_in_orders = set(order_items["order_id"]) - set(orders["order_id"])
len(missing_in_orders)

0

In [17]:
order_items.groupby("order_id").size().sort_values(ascending=False).head(10)

order_id
8272b63d03f5f79c56e9e4120aec44ef    21
1b15974a0141d54e36626dca3fdc731a    20
ab14fdcfbe524636d65ee38360e22ce8    20
9ef13efd6949e4573a18964dd1bbe7f5    15
428a2f660dc84138d969ccd69a0ab6d5    15
9bdc4d4c71aa1de4606060929dee888c    14
73c8ab38f07dc94389065f7eba4f297a    14
37ee401157a3a0b28c9c6d0ed8c3b24b    13
2c2a19b5703863c908512d135aa6accc    12
c05d6a79e55da72ca780ce90364abed9    12
dtype: int64

In [18]:
date_cols = [
    "order_purchase_timestamp",
    "order_approved_at",
    "order_delivered_carrier_date",
    "order_delivered_customer_date",
    "order_estimated_delivery_date",
]

for c in date_cols:
    orders[c] = pd.to_datetime(orders[c], errors="coerce")

In [19]:
orders[date_cols].isna().mean().sort_values(ascending=False)

order_delivered_customer_date    0.029817
order_delivered_carrier_date     0.017930
order_approved_at                0.001609
order_purchase_timestamp         0.000000
order_estimated_delivery_date    0.000000
dtype: float64

In [20]:
orders["delivery_delay_days"] = (
    (orders["order_delivered_customer_date"] - orders["order_estimated_delivery_date"])
    .dt.days
)

In [21]:
orders["fulfillment_days"] = (
    (orders["order_delivered_customer_date"] - orders["order_purchase_timestamp"])
    .dt.days
)

In [22]:
orders[["delivery_delay_days", "fulfillment_days"]].describe()

       delivery_delay_days  fulfillment_days
count         96476.000000      96476.000000
mean            -11.876881         12.094086
std              10.183854          9.551746
min            -147.000000          0.000000
25%             -17.000000          6.000000
50%             -12.000000         10.000000
75%              -7.000000         15.000000
max             188.000000        209.000000

In [23]:
orders["purchase_month"] = orders["order_purchase_timestamp"].dt.to_period("M").astype(str)
orders[["order_purchase_timestamp", "purchase_month"]].head()

  order_purchase_timestamp purchase_month
0      2017-10-02 10:56:33        2017-10
1      2018-07-24 20:41:37        2018-07
2      2018-08-08 08:38:49        2018-08
3      2017-11-18 19:28:06        2017-11
4      2018-02-13 21:18:39        2018-02

In [24]:
orders["order_status"].value_counts().head(3)

delivered    96478
shipped       1107
canceled       625
Name: order_status, dtype: int64